{:slides ["slides/hello.md",
          "slides/topics.md"
          "slides/backseat-driver.md"
          "slides/why.md"
          "slides/tools.md"
          "slides/repl.md"
          "slides/interactive-programming-instructions.md"
          "slides/inline-defs.md"
          "slides/so-far.md"
          "slides/thanks.md"]}