{:slides ["slides/hello.md",
          "slides/topics.md"
          "slides/joyride-lm-tool.md"
          "slides/why-joyride-ai.md"
          "slides/what-is-joyride.md"
          "slides/experiences.md"
          "slides/this-presentation.md"
          "slides/who-is-pez.md"]}